<style>
  li {
    font-size: 28px;
    font-weight: bold;
    text-decoration: underline;
  }

  p {
    font-size: 22px;
  }

</style>

<button type = "button"><a href="{{ url_for('home')}}">Return to Home</a></button>

<ul>
{% for nm in dog_names %}
<li>{{ nm[0] }}</li>
  <p>{%if nm[1] == 1 %} {{ nm[1]}} {% else %} {{ nm[1] }} {% endif %} </p><br>

{% endfor %}
</ul>


<script>
  function changeBackground(color) {
    document.body.style.background = color;
  }
  window.addEventListener("load",function() { changeBackground('#fddbff'); });

  function changeFont(fcolor) {
    document.body.style.color = fcolor;
  }
  window.addEventListener("load", function() {changeFont('#e835e2'); });
</script>
