<style>

  .myButton {
    text-decoration:none;
  	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  	box-shadow:inset 0px 1px 0px 0px #ffffff;
  	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
  	background-color:#ededed;
  	-moz-border-radius:6px;
  	-webkit-border-radius:6px;
  	border-radius:6px;
  	border:1px solid #dcdcdc;
  	display:inline-block;
  	cursor:pointer;
  	color:#56a82a;
  	font-family:Arial;
  	font-size:15px;
  	font-weight:bold;
  	padding:6px 24px;
  	text-shadow:0px 1px 0px #ffffff;
  }
  .myButton:hover {
  	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
  	background-color:#dfdfdf;
  }
  .myButton:active {
  	position:relative;
  	top:1px;
    text-decoration: none;
  }

  img {
    width: 300px;
    height: 200px;
    display: inline-block;
  }

</style>

<img src = "{{url_for('static', filename='new_puppies.jpg')}}">


<h1>Welcome! Click on the buttons below to find out more information about dog breeds.</h1>

<button type = "button" class = "myButton"><a href="{{ url_for('facts')}}">Facts</a></button>
<button type = "button" class = "myButton"><a href="{{ url_for('numbers')}}">Numbers</a></button>
<button type = "button" class = "myButton"><a href="{{ url_for('breeds')}}">Breeds</a></button>

<script>
  function changeBackground(color) {
    document.body.style.background = color;
  }
  window.addEventListener("load",function() { changeBackground('#c8f4b0'); });

  function changeFont(fcolor) {
    document.body.style.color = fcolor;
  }
  window.addEventListener("load", function() {changeFont('#56a82a'); });
</script>
