<h1>Welcome! Click on the buttons below to find out more information about dog breeds.</h1>

<button type = "button"><a href="{{ url_for('facts')}}">Facts</a></button>
<button type = "button"><a href="{{ url_for('numbers')}}">Numbers</a></button>
<button type = "button"><a href="{{ url_for('breeds')}}">Breeds</a></button>

<script>
  function changeBackground(color) {
    document.body.style.background = color;
  }
  window.addEventListener("load",function() { changeBackground('#c8f4b0'); });

  function changeFont(fcolor) {
    document.body.style.color = fcolor;
  }
  window.addEventListener("load", function() {changeFont('#56a82a'); });
</script>
